<div id="contents">

<!--# include head #-->

<!--# include side_bar #-->

<div id="inc_side_body">

<div class="topics">HOME &gt; ブラックリスト管理 &gt; <span>設定の一覧</span></div>

<div class="search_list">
<dl>
<dt>ブラックリストに設定されたIP/UAからのアクセスは成果が発生しなくなります。</dt>
<dd>
	botによるアクセスや不正操作が疑われるアクセスなどを制限することができます。<br />
	※制限されるのは成果の発生のみです。システムや広告URL等へのアクセスは通常通り行えます。
</dd>
</dl>
</div>

<!--# syscode searchResult setResultNum 20 #-->
<!--# syscode searchResult setPagejumpNum 7 #-->

<!--ページャー-->
<!--# syscode searchResult info #-->
<!--# syscode searchResult pageChange #-->
<!--ページャーここまで-->

<!--# setTimeFormat Y/m/d/¥ G:i:s #-->
<div class="search_accs">
<table class="search_accs_table2">
<tr>
<td width="200px">条件と値</td>
<td>メモ</th>
<td  width="100px">操作</td>
</tr>
<!--# syscode searchResult result #-->
<tr>
<td colspan="4"><a href="regist.php?type=blacklist">設定の追加</a></td>
</tr>
</table>
</div>

<!--ページャー-->
<!--# syscode searchResult pageChange #-->
<!--ページャーここまで-->

</div><!--inc_side_body_END-->

<br class="clear">

</div><!--contents_END-->
