<div id="contents">

<!--# include head #-->

<!--# include side_bar #-->

<div id="inc_side_body">

<div class="topics">HOME &gt;  <span>ブラックリスト管理</span></div>

<div class="search_list">
<dl>
<dt>ブラックリストに設定されたIP/UAからのアクセスは成果が発生しなくなります。</dt>
<dd>
	botによるアクセスや不正操作が疑われるアクセスなどを制限することができます。<br />
	※制限されるのは成果の発生のみです。システムや広告URL等へのアクセスは通常通り行えます。
</dd>
</dl>
</div>

    <div class="comp_list">
    <dl>
    <dt>[ EDIT - ブラックリスト管理 ]</dt>
    <dd>
    <p>ブラックリストは空です。</p>
        <ul>
        <li><a href="regist.php?type=blacklist">こちら</a>から新規に設定を追加してください。</li>
        </ul>
    </dd>
    </dl>
    </div>

</div><!--inc_side_body_END-->

<br class="clear">

</div><!--contents_END-->
