<form name="form" method="get" action="search.php">
<input name="type" type="hidden" value="(!--# get type #--)" />
<input name="run" type="hidden" value="true" />
<div style="background:#336;color:#FFF;text-align:center;font-size:normal;">【 ｱｸｾｽﾘｽﾄ 】</div>
<br />
<!--# form text y 4 4 (!--# code now y #--) (!--# code getInputMode 4 #--) #-->年
<!--# form option m (!--# code now m #--) 1/2/3/4/5/6/7/8/9/10/11/12 1月/2月/3月/4月/5月/6月/7月/8月/9月/10月/11月/12月 #-->
<p><input type="submit" value="検索する" /></p>
</form>
<div style="background:#336;color:#FFF;text-align:center;font-size:normal;">【 INFORMATION 】</div>
<p>その条件に一致する情報はありませんでした。</p>
